
# !/cookbooks/chef_workstation/files/default/bundler/Gemfile
# !/cookbooks/chef_workstation/files/default/bundler/Gemfile.lock
# !build/nuget/nuget.exe
# !cookbooks/chef_workstation
# # NuGet packages (based on default naming convention)
# ## Build System # common build output folders
# ## Example of the workstation pattern.
# ## JetBrains files
# ## Mono files
# ## Nuget (exclude all exes except for the one in the global build folder)
# ## OS junk files
# ## Office Temp Files
# ## Pester Test summary
# ## Rails Heroku and other bits to ignore
# ## Subversion files
# ## Tooling
# ## VM images
# ## Visual Studio files
# ## nodejs
# ##Chef
# ##ruby
# *.DS_Store
# *.[Cc]ache
# *.[Oo]bj
# *.[Rr]e[Ss]harper
# *.aps
# *.bak
# *.crc
# *.dat
# *.dbmdl
# *.docstates
# *.gem
# *.idea
# *.ilk
# *.lib
# *.log
# *.ncb
# *.nupkg
# *.pch
# *.pdb
# *.pidb
# *.sbr
# *.schemaview
# *.sqlite3
# *.suo
# *.tlb
# *.tlh
# *.user
# *.userprefs
# *.vhd
# *.vhdx
# *.vspscc
# *.vssscc
# *_i.c
# *_p.c
# *ncrunch*
# .[Jj]ust[Cc]ode
# .bundle
# .idea
# .idea/
# .kitchen/
# .svn
# .vagrant
# Ankh.NoLoad
# Gemfile
# Gemfile.lock
# Test.xml
# [Bb]in/*
# [Bb]uild/[Pp]ackages/
# [Dd]ebug*/
# [Oo]bj/
# [Rr]elease*/
# [Tt]est[Rr]esult*
# [Tt]humbs.db
# _ReSharper*/
# build-common/
# cookbooks/*
# db/*.sqlite3
# ipch/
# log/*
# metadata.json
# node_modules
# nodes
# nuget.exe
# output/
# public/system/*
# tmp/*
# ~$*
##    https://github.com/Nordstrom/chefdk_bootstrap
##    https://github.com/mwrock/chef_workstation
## Below are example of common git excludes.
## Examples of workstation cookbooks:
## Ignore Chef related files and secrets
## Ignore Chef-Zero files
## Please note that /cookbooks folder is ignored. This allows users to
## and work on them in parallel. This pattern also allows for chef-workstation
## clone individual cookbooks into the /cookbook folder of the chef repo
## pattern, where base repo also builds out a dynamic chef workstation.
.DS_Store
.chef
.chef/*.pem
.chef/encrypted_data_bag_secret
.rake_test_cache
clients
nodes
